/* ----------- seeker profile ------------ */
.seeker-profile-page-container {
  display: flex;
}

/* ------------- job details page ------------- */
.job-details-page-container {
}

.job-details-page-content {
  display: flex;
  flex-direction: column;
  padding: 5% 10% 0 10%;
}

.job-details-page-section-1 {
  width: 100%;
  padding: 10px;
}
 
/* -------------- browse jobs ------------- */

.b-j-input-style-1 label {
  color: var(--color-secondary) !important;
}

.b-j-input-style-1 .MuiInputBase-input {
  color: var(--color-secondary) !important;
}

.b-j-input-style-1 .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-secondary);
}

.b-j-input-style-1 .MuiSvgIcon-root {
  color: var(--color-secondary);
}
.b-j-input-style-1 .MuiOutlinedInput-root {
  border-radius: 10px;
}
