#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

/* ------------------- common ------------------ */
.text-input-1 label {
  color: var(--color-secondary, black);
  font-size: 16px;
}

.text-field-dis .MuiInputBase-input.Mui-disabled {
  -webkit-text-fill-color: black; /* Important for WebKit browsers */
  color: black; /* Fallback */
}

.text-field-1 .MuiInputLabel-root {
  color: rgb(99, 99, 99);
}
